body {
    background-image: url("https://img4.goodfon.com/wallpaper/nbig/3/a7/darts-mishen-drotik-sektor-darts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    color: red;
}