<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add points</title>
    <style>
        body {
            background-image: url("https://img4.goodfon.com/wallpaper/nbig/3/a7/darts-mishen-drotik-sektor-darts.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        body {
            color: red;
        }
    </style>
    <script type="text/javascript" th:src="@{/js/homeJS.js}"></script>
</head>
<body>

<form method="post" th:object="${point}">
    Ile rzuciles? <input th:field="*{throwValue}" id="d"><br>
    <input type="button" value="2X" onclick='multi(2)'><br>
    <input type="button" value="3X" onclick='multi(3)'><br>
    <input type="submit" value="Submit"><br>
</form>
<h3 th:text="'Zostalo jeszcze ' + ${sum}"></h3>

</body>
</html>