<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add player</title>
    <link href="../static/css/overall.css" th:href="@{/css/overall.css}" rel="stylesheet" />
</head>
<body>
<form method="post" th:object="${player}"><br><br><br><br><br><br><br><br><br><br><br><br>

    <h2 th:text="'Nickname:'" class="textStyle"></h2>
    <input th:field="*{nickName}"><br>
    <input type="submit" value="Submit" class="buttonStyle">
</form>
</body>
</html>
