<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add player</title>
    <link href="../static/css/overall.css" th:href="@{/css/overall.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/homeJS.js}"></script>
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet"/>

</head>
<body>
<form method="post" th:object="${player}" name="nick"><br><br><br><br><br><br><br><br><br><br><br><br>

    <h2 th:text="'Nickname:'" class="textStyle"></h2>
    <input th:field="*{nickName}" onfocus="this.value=''" required><br>
    <input type="button" value="Submit" class="button_submit" onclick="submitForm()">
</form>
</body>
</html>
