<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../static/css/overall.css" th:href="@{/css/overall.css}" rel="stylesheet" />
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet" />


</head>
<body>

<form th:action="@{/startGame}">
    <input type="submit" value="Start a game" class="button_submit">
</form>

<form th:action="@{/listOfWinners}">
    <input type="submit" value="Show winners" class="button_submit" >
</form>
</body>
</html>