<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of winners</title>
    <link href="../static/css/overall.css" th:href="@{/css/overall.css}" rel="stylesheet"/>
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet"/>
</head>
<body>

<form th:action="@{/startGame}">
    <input type="submit" value="Start new game" class="button_submit">
</form>

<form method="post">
    Choose the number of recent winners:
    <select name="numberOfWinners">
        <option value="1">1</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
    </select>
    <input type="submit" value="Submit" class="button">
</form>

<h1 th:text="'List of winners'" class="textStyle"></h1>
<table class="table">
    <tr>
        <td th:text="'Winner name'" class="textStyle"></td>
        <td th:text="'Game id'" class="textStyle"></td>
        <td th:text="'Round'" class="textStyle"></td>
        <td th:text="'History of Match'" class="textStyle"></td>
    </tr>
    <tr th:block th:each="w : ${winners}" class="textStyle">
        <td th:text="${w.getName()}" class="textStyle"></td>
        <td th:text="${w.getGame().getId()}" class="textStyle"></td>
        <td th:text="${w.getRound()}" class="textStyle"></td>
        <td>
            <form th:action="@{'/showHistory/' + ${w.getPlayer().getGame().getId()}}">
                <input type="submit" value="Show" class="button_little">
            </form>
        </td>
    </tr>
</table>

</body>
</html>