<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>N Last Winners</title>
    <link href="../static/css/overall.css" th:href="@{/css/overall.css}" rel="stylesheet" />
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet" />
</head>
<body>
<h1 th:text="'List of winners'" class="textStyle"></h1>
<table class="table">
    <tr>
        <td th:text="'Winner name'" class="textStyle"></td>
        <td th:text="'Game id'" class="textStyle"></td>
        <td th:text="'Round'" class="textStyle"></td>
        <td th:text="'History of Match'" class="textStyle"></td>
    </tr>
    <tr th:block th:each="w : ${NLastWinners}" class="textStyle">
        <td th:text="${w.getName()}" class="textStyle"></td>
        <td th:text="${w.getGame().getId()}" class="textStyle"></td>
        <td th:text="${w.getRound()}" class="textStyle"></td>

<!--        <td>-->
<!--            <a th:href="@{'/showHistory/' + ${w.getPlayer().getGame().getId()}}" class="btn btn-danger">Show History</a>-->
<!--        </td>-->
        <td>
            <form th:action="@{'/showHistory/' + ${w.getPlayer().getGame().getId()}}">
                <input type="submit" value="Show" class="submit_button">
            </form>
        </td>
    </tr>

</table>

<form th:action="@{/listOfWinners}">
    <input type="submit" value="Show All Winners" class="submit_button">
</form>
</body>
</html>