<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Number of players</title>
    <style>
        body {
            background-image: url("https://img4.goodfon.com/wallpaper/nbig/3/a7/darts-mishen-drotik-sektor-darts.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        body {
            color: red;
        }
    </style>
</head>
<body>
<h2 th:text="'Fill the form'"></h2>
<form method="post" th:object="${game}">
    Number of players: <input th:field="*{numberOfPlayers}"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>