<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Win</title>
    <link href="../static/css/overall.css" th:href="@{/css/overall.css}" rel="stylesheet" />
</head>
<body>

<br><br><br><br><br><br><br><br><br><br><br>

<h2 th:text="'END OF THE GAME'" class="textStyle"></h2>
<h1 th:text="'Winner: ' + ${player.nickName}" class="textStyle"></h1>
<p th:text="'Round: ' + ${roundId} " class="textStyle"></p>
<br><br><br>

<form th:action="@{/listOfWinners}">
    <input type="submit" value="Show winners">
</form>

</body>
</html>
